@model List<Leaderboards>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .MyTable {
            width: 1300px;
            margin-top: 50px;
            border: 1px solid gray;
            height: auto;
            background: rgb(46, 47, 47);
            background: linear-gradient(77deg, rgba(46, 47, 47, 1) 0%, rgba(41, 40, 39, 1) 100%);
            border-radius: 10px;
        }

        .custom-table {
            border-collapse: collapse;
            background: rgb(43, 46, 46);
            background: linear-gradient(77deg, rgba(43, 46, 46, 1) 0%, rgba(40, 38, 37, 1) 100%);
            width: 95%;
            margin: 20px;
        }

            .custom-table th,
            .custom-table td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            .custom-table th {
                font-weight: bold;
            }

            .custom-table tbody tr:nth-child(even) {
                background: rgb(98, 101, 101);
                background: linear-gradient(77deg, rgba(98, 101, 101, 1) 0%, rgba(87, 85, 83, 1) 100%);
            }

            .custom-table tbody tr:nth-child(odd) {
                background: rgb(74, 77, 77);
                background: linear-gradient(77deg, rgba(74, 77, 77, 1) 0%, rgba(74, 72, 72, 1) 100%);
            }

            .custom-table tbody tr:hover {
                background-color: #e0e0e0;
            }

        .positions {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .position1, .position2, .position3 {
            height: 200px;
            width: 200px;
            background-color: green;
            margin-left: 30px;
            margin-top: 120px;
        }

        .position1 {
            margin-top: 90px;
        }
    </style>
</head>

<body>

    <div class="positions">
        <div class="position2">
            position2
        </div>
        <div class="position1">
            position1
        </div>
        <div class="position3">
            position3
        </div>
    </div>
    <div class="MyTable">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Player Name</th>
                    <th>Favorite Agent</th>
                    <th>K/D</th>
                    <th>Country</th>
                    <th>Rank</th>
                    <th>Total Kills</th>
                    <th>Total Deaths</th>
                </tr>
            </thead>
            <tbody>
                @{

                int i = 0;
                }
                @foreach(var record in Model)

                {
                    <tr>
                        <td>@(++i)</td>
                        <td>@record.username</td>
                        <td>@record.Pname</td>
                        <td>@record.fav_agent</td>
                        <td>@String.Format("{0:0.00}", record.KD_Ratio)</td>
                        <td>@record.country</td>
                        <td>@record.MMR</td>
                        <td>@record.kills</td>
                        <td>@record.deaths</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</body>

</html>