@model List<Leaderboards>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .MyTable {
            margin: 0 auto;
            width: 1300px;
            margin-top: 50px;
            border: 1px solid gray;
            height: auto;
            background: rgb(46, 47, 47);
            background: linear-gradient(77deg, rgba(46, 47, 47, 1) 0%, rgba(41, 40, 39, 1) 100%);
            border-radius: 10px;
        }

        .custom-table {
            border-collapse: collapse;
            background: rgb(43, 46, 46);
            background: linear-gradient(77deg, rgba(43, 46, 46, 1) 0%, rgba(40, 38, 37, 1) 100%);
            width: 95%;
            margin: 10px auto;
        }

            .custom-table th,
            .custom-table td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            .custom-table th {
                font-weight: bold;
            }

            .custom-table tbody tr:nth-child(even) {
                background: rgb(98, 101, 101);
                background: linear-gradient(77deg, rgba(98, 101, 101, 1) 0%, rgba(87, 85, 83, 1) 100%);
            }

            .custom-table tbody tr:nth-child(odd) {
                background: rgb(74, 77, 77);
                background: linear-gradient(77deg, rgba(74, 77, 77, 1) 0%, rgba(74, 72, 72, 1) 100%);
            }

            .custom-table tbody tr:hover {
                background-color: #e0e0e0;
            }

        .positions {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .position1, .position2, .position3 {
            padding: 5px;
            height: 200px;
            width: 200px;
            background-color: #070e16;
            margin-left: 30px;
            margin-top: 100px;
            border-radius: 5px;
            border: 1px solid #a6a6a6;
            box-shadow: 0 0 0 1px rgb(148, 32, 53)
        }
        .position1 {
            margin-top: 70px;
            
        }

        .positions img{
            display: inline-block;
            height: 80px;
            margin-left: 60px;
            margin-top: 20px;
        }
        .position3{
            margin-top: 110px;
        }
        .text{

            display: flex;
            justify-content: space-evenly;
            gap: 3em;
            margin-top: 35px;
            padding-bottom: 15px;
        }
        .text p{
                font-size: 18px;
        }
    </style>
</head>

<body>
    @Html.Partial("/Views/shared/homepage_nav.cshtml")
    <div class="positions">
        <div class="position2" id="position2">
            <img src="~/Images/second.png">
            <div class="text" id="text">
                <p id="playerName"></p>
                <p id="playerRank"></p>
            </div>
        </div>
        <div class="position1" id="position1">
            <img src="~/Images/first.png" />
            <div class="text" id="text">
                <p id="playerName">hehe</p>
                <p id="playerRank">hehe</p>
            </div>
        </div>
        <div class="position3" id="position3">
            <img src="~/Images/third.png" />
            <div class="text" id="text">
                <p id="playerName"></p>
                <p id="playerRank"></p>
            </div>
        </div>
    </div>
    <div class="MyTable">
        <table class="custom-table" id="custom-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Player Name</th>
                    <th>Favorite Agent</th>
                    <th>K/D</th>
                    <th>Country</th>
                    <th>Rank</th>
                    <th>Total Kills</th>
                    <th>Total Deaths</th>
                </tr>
            </thead>
            <tbody>
                @{

                int i = 0;
                }
                @foreach(var record in Model.OrderByDescending(u=>u.MMR))

                {
                    <tr>
                        <td>@(++i)</td>
                        <td>@record.username</td>
                        <td>@record.Pname</td>
                        <td>@record.fav_agent</td>
                        <td>@String.Format("{0:0.00}", record.KD_Ratio)</td>
                        <td>@record.country</td>
                        <td>@record.MMR</td>
                        <td>@record.kills</td>
                        <td>@record.deaths</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        function GotoHome() {
            window.location.href = "Homepage/Index";
        }
        function displayPositions(){
            var table = document.getElementById('custom-table');
            console.log(table);
            var rows = table.getElementsByTagName('tr');
            for(var i=1;i<=3;i++)
            {
                console.log(rows[i]);
                position1PTag = document.querySelector('#position' + (i) + ' #text #playerName');
                var cells = rows[i].getElementsByTagName('td');
                position1PTag.textContent = cells[1].innerText;
                position1PTag = document.querySelector('#position' + (i) + ' #text #playerRank');
                position1PTag.textContent = cells[6].innerText;
            }
        }
        window.onload = displayPositions;
    </script>
</body>

</html>