@model Tuple<User,List<Leaderboards>>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: black;
            color: white;
        }

        .navbar {
            background-color: #9a413a;
            display: flex;
            justify-content: space-between;
            border-radius: 35px;
            color: white;
            width: 100%;
            padding: 0px;
            z-index: 1;
        }

            .navbar p {
                margin: 25px 0px 20px 20px;
            }

            .navbar .items {
                background-color: #9a413a;
                width: 1100px;
                margin-right: 30px;
                display: inline-block;
            }

                .navbar .items ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                }


                .navbar .items li a {
                    text-decoration: none;
                    color: white;
                    display: inline-block;
                    text-align: center;
                    padding: 10px 14px;
                }

                .navbar .items .dropdown-content {
                    display: none;
                    position: absolute;
                    background: rgb(58, 57, 57);
                    min-width: 110px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }

                .navbar .items li a:hover,
                .dropdown:hover,
                .dropdown-content a:hover {
                    background-color: #870505;
                }

                .navbar .items .dropdown-content a {
                    color: white;
                    padding: 12px 14px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }

                    .navbar .items .dropdown-content a:hover {
                        background: rgb(136, 20, 20);
                    }

                .navbar .items .dropdown:hover .dropdown-content {
                    display: block;
                }

                .navbar .items .dropdown {
                    display: inline-block;
                }

        .MyTable {
            margin: 0 auto;
            width: 1300px;
            margin-top: 50px;
            border: 1px solid gray;
            height: auto;
            background: rgb(46, 47, 47);
            background: linear-gradient(77deg, rgba(46, 47, 47, 1) 0%, rgba(41, 40, 39, 1) 100%);
            border-radius: 10px;
        }

        .custom-table {
            border-collapse: collapse;
            background: rgb(43, 46, 46);
            background: linear-gradient(77deg, rgba(43, 46, 46, 1) 0%, rgba(40, 38, 37, 1) 100%);
            width: 95%;
            margin: 10px auto;
        }

            .custom-table th,
            .custom-table td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            .custom-table th {
                font-weight: bold;
            }

            .custom-table tbody tr:nth-child(even) {
                background: rgb(98, 101, 101);
                background: linear-gradient(77deg, rgba(98, 101, 101, 1) 0%, rgba(87, 85, 83, 1) 100%);
            }

            .custom-table tbody tr:nth-child(odd) {
                background: rgb(74, 77, 77);
                background: linear-gradient(77deg, rgba(74, 77, 77, 1) 0%, rgba(74, 72, 72, 1) 100%);
            }

            .custom-table tbody tr:hover {
                background-color: #e0e0e0;
            }

        .positions {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .position1, .position2, .position3 {
            padding: 5px;
            height: 200px;
            width: 200px;
            background-color: #070e16;
            margin-left: 30px;
            margin-top: 100px;
            border-radius: 5px;
            border: 1px solid #a6a6a6;
            box-shadow: 0 0 0 1px rgb(148, 32, 53)
        }
        .position1 {
            margin-top: 70px;
            
        }

        .positions img{
            display: inline-block;
            height: 80px;
            margin-left: 60px;
            margin-top: 20px;
        }
        .position3{
            margin-top: 110px;
        }
        .text{

            display: flex;
            justify-content: space-evenly;
            gap: 3em;
            margin-top: 35px;
            padding-bottom: 15px;
        }
        .text p{
                font-size: 18px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <div id="partialContainer">
        <header>
            <nav class="navbar">
                <p>Valorant Datahub</p>
                <div class="items">
                    <ul>
                        <li><a href="/Homepage/Index?Username=@Model.Item1.Username">Home</a></li>
                        <li><a href="/Weapon/Index?Username=@Model.Item1.Username">Weapons</a></li>
                        <li><a href="/Leaderboard/Index?Username=@Model.Item1.Username">Leaderboards</a></li>
                        <li><a href="/Agent/Index?Username=@Model.Item1.Username">Agents</a></li>
                        <li><a href="/Map/Index?Username=@Model.Item1.Username">Maps</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropbtn">Current rotation</a>
                            <div class="dropdown-content">
                                <a href="/MapDisplay/Index?option=ascent&Username=@Model.Item1.Username">Ascent</a>
                                <a href="/MapDisplay/Index?option=bind&Username=@Model.Item1.Username">Bind</a>
                                <a href="/MapDisplay/Index?option=Breeze&Username=@Model.Item1.Username">Breeze</a>
                                <a href="/MapDisplay/Index?option=Icebox&Username=@Model.Item1.Username">Icebox</a>
                                <a href="/MapDisplay/Index?option=Lotus&Username=@Model.Item1.Username">Lotus</a>
                                <a href="/MapDisplay/Index?option=Split&Username=@Model.Item1.Username">Split</a>
                                <a href="/MapDisplay/Index?option=Sunset&Username=@Model.Item1.Username">Sunset</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropbtn" id="dropbtn" style="padding-right: 4	0px;">Guest Mode</a>
                            <div class="dropdown-content">
                                <a href="/Homepage/Index">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="positions">
        <div class="position2" id="position2">
            <img src="~/Images/second.png">
            <div class="text" id="text">
                <p id="playerName"></p>
                <p id="playerRank"></p>
            </div>
        </div>
        <div class="position1" id="position1">
            <img src="~/Images/first.png" />
            <div class="text" id="text">
                <p id="playerName">hehe</p>
                <p id="playerRank">hehe</p>
            </div>
        </div>
        <div class="position3" id="position3">
            <img src="~/Images/third.png" />
            <div class="text" id="text">
                <p id="playerName"></p>
                <p id="playerRank"></p>
            </div>
        </div>
    </div>
    <div class="MyTable">
        <table class="custom-table" id="custom-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Player Name</th>
                    <th>Favorite Agent</th>
                    <th>K/D</th>
                    <th>Country</th>
                    <th>Rank</th>
                    <th>Total Kills</th>
                    <th>Total Deaths</th>
                </tr>
            </thead>
            <tbody>
                @{

                int i = 0;
                }
                @foreach(var record in Model.Item2.OrderByDescending(u=>u.MMR))

                {
                    <tr>
                        <td>@(++i)</td>
                        <td>@record.username</td>
                        <td>@record.Pname</td>
                        <td>@record.fav_agent</td>
                        <td>@String.Format("{0:0.00}", record.KD_Ratio)</td>
                        <td>@record.country</td>
                        <td>@record.MMR</td>
                        <td>@record.kills</td>
                        <td>@record.deaths</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        function GotoHome() {
            window.location.href = "Homepage/Index";
        }
        function displayPositions(){
            var table = document.getElementById('custom-table');
            console.log(table);
            var rows = table.getElementsByTagName('tr');
            for(var i=1;i<=3;i++)
            {
                console.log(rows[i]);
                position1PTag = document.querySelector('#position' + (i) + ' #text #playerName');
                var cells = rows[i].getElementsByTagName('td');
                position1PTag.textContent = cells[1].innerText;
                position1PTag = document.querySelector('#position' + (i) + ' #text #playerRank');
                position1PTag.textContent = cells[6].innerText;
            }
        }
        window.onload = displayPositions;
        $(document).ready(function () {

            var username = '@Model.Item1.Username';
            console.log(username);
            var dropbtnElement = $('#dropbtn');
            dropbtnElement.text(username);

        });
    </script>
</body>

</html>